@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700');

@import "vendor/_variables.scss";
@import "vendor/bootstrap/bootstrap.scss";
@import "vendor/bootstrap/bootstrap-grid.scss";
@import "vendor/bootstrap/bootstrap-reboot.scss";
@import "vendor/bootstrap/bootstrap-utilities.scss";
@import "vendor/swiper/_swiper.scss";
@import "vendor/reset";

@import "_header.scss";
@import "_footer.scss";
@import "_slider.scss";
@import "_button.scss";
@import "_home.scss";
@import "_professional.scss";
@import "_solutions.scss";
@import "_reference.scss";
@import "_about.scss";
@import "_split.scss";
@import "_partner.scss";
@import "_ilustration.scss";
@import "_clients.scss";
@import "_portfolio.scss";
@import "_gestao_estrategia.scss";
@import "_chat.scss";
@import "_single.scss";
@import "_material.scss";
@import "_carousel.scss";
@import "_base-css.scss";

:root {
	--screen-width: 1323px;
	--home-card-w: min(calc((100% - 22px) / 4), 260px);
}

.template-cv {
	@media screen and (max-width: 1380px) {
		.container {
			width: 100%;
			max-width: 100%;
			padding: 0;
		}
	}
	img {
		width: 100%;
	}
}

body {
	background: #f5f5f5;
	margin: 0;
}

.no_bg {
	background: none !important;
}

.desktop {
	display: block;

	@media screen and (max-width: 991px) {
		display: none;
	}
}

.mobile {
	display: none;

	@media screen and (max-width: 991px) {
		display: block;
	}
}

.wp-block-image {
	img {
		width: 100%;
	}
}