@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700;900');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700');

:root {
	--screen-width: 1323px;
	--home-card-w: min(calc((100% - 22px) / 4), 260px);
}

body {
	background: #f5f5f5;
	margin: 0;
}

.header_container {
	background: white;
	height: 112px;
	width: 100%;
}

.header_hamburger {
	font-size: 32px;
	padding: 0 12px;
	width: 39px !important;
}

.header_area {
	max-width: var(--screen-width);
	height: 100%;
	position: relative;
	margin: auto;
	display: flex;
	align-items: center;
}

.header_logo {
	display: flex;
	width: 259px;
	height: 72px;
	background-image: url('images/header_logo.png');
	background-size: contain;
  background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	margin-left: 10px;
	z-index: 10;
}

.header_links_container {
	width: 100%;
	z-index: 5;
	position: absolute;
	right: 0;
	margin: 10px 0 0 30%;
	color: #5F5F5F;
	text-align: right;
	font-family: Montserrat, sans-serif;
	font-size: 17px;
	font-weight: 700;
	letter-spacing: -0.225px;
	white-space: nowrap;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
}

.no_hamburger {
	.header_hamburger {
		visibility: hidden;
	}
	.header_link_divisor {
		display: initial;
	}
}

.on_hamburger {
	.header_hamburger {
		visibility: visible;
	}
	.header_link_divisor {
		display: none;
	}
	#hamburger_float {
		top: 3em;
		width: 150px;
		right: 10px;
	}
	.header_link_button {
		width: 150px;
		text-align: center;
	}
	.header_float_menu {
		right: 80%;
		top: 60px;
	}
}

.header_link_button, .header_link_divisor {
	display: inline-block;
	background: white;
	padding: 12px;
}

.header_link_button {
	cursor: pointer;
}

.header_link_button:hover {
	color: #4074B6;
}

.header_link_button_selected {
	color: #26A759;
}

.header_float_menu {
	background: #d9d9d9;
	position: absolute;
	top: 30px;
	color: #5F5F5F;
	font-size: 13px;
	letter-spacing: -0.195px;
	padding: 15px 10px;
	text-align: center;
	visibility: hidden;
	cursor: default;
	z-index: 10;
}

.header_float_menu hr {
	margin: 12px 0;
	height: 1px;
	border: 0;
	background: #5F5F5F;
}

.header_float_item {
	cursor: pointer;
}

.header_float_item:hover {
	color: #4074B6;
}

.header_float_item_small {
	font-size: 10px;
}

.title_banner {
	background-image: url('images/title_banner.png');
	background-size: contain;
  background-repeat: no-repeat;
	width: 100%;
	height: calc(100vw * (470 / 1323));
	max-width: var(--screen-width);
	max-height: 470px;
	margin: auto;
	position: relative;
}

.title_action_call {
	position: absolute;
	left: 5%;
	bottom: 6%;
	color: #ffffff;
	font-family: Roboto, sans-serif;
	font-size: min(calc(100vw * (56 / 1323)), 56px);
	font-weight: 700;
	line-height: 1em;
	letter-spacing: -0.84px;
	text-transform: uppercase;
}

.page_title, .section_title {
	color: #3F4D4D;
	text-align: center;
	font-family: Roboto, sans-serif;
	font-size: 40px;
	font-weight: 300;
	letter-spacing: -0.6px;
	text-transform: uppercase;
	margin-top: 1.8em;
}

.page_title b, .section_title b {
	font-weight: 700;
}

.title_white {
	z-index: 10;
	color: #ffffff;
	margin-top: 55px;
}

.contato_image {
	width: 100%;
	height: 100%;
	background-image: url('images/contato_fundo.jpeg');
	background-size: cover;
  background-repeat: no-repeat;
	background-position: center;
	position: absolute;
}

.contato_container {
	overflow: hidden;
	width: 100%;
	height: 750px;
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.contato_container_on_page {
	margin-top: 75px;
	height: 835px;
}

.contato_container b {
	text-transform: uppercase;
	font-weight: 900;
}

.contato_form_container {
	position: absolute;
	max-width: min(74%, 576px);
	overflow: hidden;
	max-height: 657px;
	top: 60px;
	left: auto;
	right: auto;
	border-radius: 15px;
	border: 1px solid #ffffff;
	background: rgb(112 151 188 / 50%);
	box-shadow: -4px 4px 4px 0px rgba(255, 255, 255, 0.10);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-content: center;
	justify-content: space-between;
	padding: 46px 55px 20px 55px;
}

.contato_form_on_page {
	margin-top: 100px;
}

.contato_form_container, .contato_form_container input, .contato_form_container textarea {
	font-family: Montserrat, sans-serif;
	letter-spacing: -0.3px;
	font-weight: 600;
	line-height: 1.3em;
	font-size: 20px;
	color: #ffffff;
}

.contato_form_container input, .contato_form_container textarea {
	font-size: 18px;
	font-weight: 400;
	letter-spacing: -0.27px;
}

.contato_header {
	margin-bottom: 19px;
}

.contato_form {
	font-size: 18px;
}

.contato_form input, .contato_form textarea {
	padding-left: 12px;
	width: 522px;
	height: 44px;
	margin-top: 19px;
	border: 1px solid #fff;
	background: #fff0;
	max-width: min(100%, 522px);
}

.contato_form input::placeholder, .contato_form textarea::placeholder {
	color: #fff6;
}

.contato_form textarea {
	height: 128px;
	padding-top: 15px;
}

input[type="submit"] {
	width: 168px;
	height: 45px;
	border-radius: 18.5px;
	background: #FFF;
	font-family: Roboto, sans-serif;
	letter-spacing: -0.225px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;
	color: #00A852;
	text-align: center;
	margin-bottom: 10px;
	min-width: unset;
	cursor: pointer;
	padding: 1px 4px;
}

.contato_form_container input:focus-visible, .contato_fundo textarea:focus-visible {
	background: #fff1;
}

.footer_background {
	position: absolute;
	background: #242424;
	width: 100%;
}

.footer_container {
	width: 100%;
	max-width: var(--screen-width);
	margin: 0 auto;
}

.footer_logo {
	width: 310px;
	height: 101px;
	background-image: url('images/footer_logo.png');
	background-size: contain;
  background-repeat: no-repeat;
	background-position: center;
	margin: 60px auto 30px;
}

.footer_container hr {
	margin: 12px 0;
	height: 1px;
	background: #fff;
	border: 0;
}

.footer_bar {
	margin: 0 30px;
	padding-top: 15px;
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.footer_bar, .footer_bar h1 {
	color: #fff;
	font-family: Roboto, sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.225px;
	line-height: 1.5em;
}

.footer_bar h1 {
	font-weight: 700;
	font-size: 18px;
	margin-bottom: 0.5em;
	letter-spacing: -0.27px;
}

.footer_links {
	height: 188px;
	width: 265px;
	min-width: 30%;
}

.footer_social_network {
	height: 188px;
}

.footer_contact_info {
	font-size: 25px;
	font-weight: 600;
	letter-spacing: -0.375px;
	padding-bottom: 20px;
	text-align: end;
}

@media (max-width: 880px) {
	.footer_contact_info {
		width: 100%;
	}
}

.link_image {
	display: inline-block;
	background-size: contain;
  background-repeat: no-repeat;
	background-position: center;
	width: 27px;
	height: 27px;
	margin-right: 5px;
}

.up_arrow {
	position: absolute;
	height: 58px;
	width: 48px;
	top: -24px;
	background: #fff;
	background-image: url('images/up_arrow.svg');
	background-size: cover;
  background-repeat: no-repeat;
	background-position: center;
	cursor: pointer;
	z-index: 10;
	left: calc(50% - 24px);
}

.link_image:hover {
	box-shadow: 0 0 10px #fff6;
	cursor: pointer;
}

.linkedin {
	background-image: url('images/link_linkedin.png');
}

.instagram {
	background-image: url('images/link_instagram.png');
}

.copyright {
	color: #fff;
	text-align: center;
	font-family: Roboto, sans-serif;
	font-size: 12px;
	font-weight: 400;
	letter-spacing: -0.18px;
	height: 42px;
	line-height: 2.5em;
}

.link_text {
	cursor: pointer;
}

.link_text:hover {
	text-shadow: 0 0 10px #fff6;
}

.client_logos {
	margin: 74px auto 0;
	width: 100%;
	max-width: var(--screen-width);
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

.client_logos img {
	max-width: 244px;
	max-height: 100px;
	mix-blend-mode: darken;
	margin: 10px 20px;
}

.carousel_text {
	width: 100%;
	max-width: 880px;
	margin: 0px auto 0;
	margin-bottom: 85px;
	position: relative;
	overflow: hidden;
} 

.carousel_window {
	width: var(--screen-width);
	display: flex;
	align-items: center;
	text-align: center;
	height: 300px;
	overflow: hidden;
}

@media (max-width: 650px) {
	.carousel_window {
		height: 320px;
	}
}
@media (max-width: 540px) {
	.carousel_window {
		height: 400px;
	}
}
@media (max-width: 400px) {
	.carousel_window {
		height: 500px;
	}
}

.carousel_counter {
	cursor: pointer;
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;
	bottom: 0;
}

.carousel_text_card {
	color: #3F4D4D;
	font-family: Montserrat, sans-serif;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.2em;
	letter-spacing: -0.375px;
	position: absolute;
	width: 90%;
	left: 5%;
	text-align: left;
	margin-top: -25px;
}

.carousel_text_card li {
	margin: 30px 0;
}

.carousel_position_0 {
	margin-left: -1323px;
	opacity: 0;
	transition: margin 2s ease, opacity 1s ease;
}

.carousel_position_1 {
	opacity: 1;
	transition: margin 2s ease, opacity 3s ease;
}

.carousel_position_2 {
	margin-left: 1323px;
	opacity: 0;
}

.carousel_count {
	display: inline-block;
	border-radius: 19px;
	width: 19px;
	height: 19px;
	margin: 0 8px;
	border: 1.0px solid #888;
}

.carousel_count_selected {
	background: #9ACA3C;
	border: 0;
	width: 21px;
	height: 21px;
}

.plain_text {
	color: #3F4D4D;
	text-align: center;
	font-family: Montserrat, sans-serig;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: -0.3px;
	max-width: var(--screen-width);
	margin: 56px auto 39px auto;
}

.left_align {
	text-align: left;
	margin-left: 0;
}

.bold_text {
	color: #3F4D4D;
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: -0.5px;
	margin-top: 20px;
}

.extra_margin {
	margin-top: 80px;
}

.less_margin {
	margin-top: 10px;
}

.bold_text ul {
	gap: 15px;
	color: #fff;
	display: flex;
	flex-wrap: wrap;
	max-width: var(--screen-width);
	justify-content: space-evenly;
	margin: 0 auto;
	padding: 0;
	padding-top: 20px;
	font-size: 18px;
}

@media (max-width: 1400px) {
	.bold_text ul {
		width: 60%;
	}
}

.bold_text ul :first-child {
	margin-left: 0;
}

.bold_text ul :last-child {
	margin-right: 0;
}

.bold_text li {
	width: 317px;
	border-radius: 10px;
	background: #0049B1;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 12px 0;
	padding: 13px 0;
	min-height: 50px;
}

.parceiro_container {
	width: 100%;
	max-width: var(--screen-width);
	display: flex;
	justify-content: space-evenly;
	align-items: flex-end;
	margin-bottom: 96px;
	margin-top: 56px;
	margin-left: auto;
	margin-right: auto;
	flex-wrap: wrap;
}

.parceiro_container hr {
	border-style: none dashed none dashed;
	border-width: 0.5px;
	border-color: #9ACA3C;
	width: 0.5px;
	height: 344px;
	margin: 0;
}

@media (max-width: 920px) {
	.parceiro_container hr {
		display: none;
	}
}

.parceiro_block {
	margin-left: 15px;
	margin-right: 15px;
	color: #3F4D4D;
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: -0.3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	max-width: 375px;
	padding-bottom: 50px;
}

.parceiro_logo {
	display: inline-block;
	background-size: contain;
  background-repeat: no-repeat;
	background-position: center;
	width: 330px;
	height: 149px;
}

.logo_crosara {
	background-image: url('images/parceiros_crosara.jpeg');
}
.logo_omnion {
	background-image: url('images/parceiros_omnion.png');
}
.logo_upper {
	background-image: url('images/parceiros_upper.png');
	width: 267px;
	height: 180px;
}

.parceiro_text {
	margin-top: 20px;
}

.parceiro_email {
	cursor: pointer;
}

.parceiro_email:hover {
	color: #4074B6;
}

.references_container {
	width: 100%;
	height: 764px;
	background: #0049B1;
	position: relative;
	margin-bottom: 67px;
}

.references_container h1 {
	color: #FFF;
	text-align: center;
	font-family: Roboto, sans-serif;
	font-size: 40px;
	font-style: normal;
	font-weight: 700;
	letter-spacing: -0.6px;
	text-transform: uppercase;
	padding-top: 54px;
	margin: 0;
}

.references_container h2 {
	color: #FFF;
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -0.3px;
	padding-top: 31px;
	margin: 0;
}

.references_carousel_window {
	margin: 0 auto;
	display: flex;
	position: relative;
	height: 600px;
	overflow: hidden;
	max-width: min(100%, 1452px);
}

.references_arrow {
	width: 46px;
	height: 46px;
	background: #fff;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
	top: 429px;
	z-index: 10;
	position: absolute;
}

.references_arrow_left {
	background-image: url('images/arrow_left.svg');
	position: absolute;
	left: 0;
	top: 270px;
}

.references_arrow_right {
	position: absolute;
	right: 0;
	background-image: url('images/arrow_right.svg');
	top: 270px;
}

.references_carousel_block {
	width: 330px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	height: 600px;
	transition: all 1s ease;
}

.references_carousel_block_text {
	color: #FFF;
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: -0.27px;
	overflow: hidden;
	opacity: 1;
	transition: all 1s ease;
}

.references_carousel_block_text h1 {
	margin: 31px 0 10px 0;
	color: #FF7D1D;
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: 700;
	line-height: 5px;
	letter-spacing: -0.27px;
	padding: 0;
}

.references_carousel_block_image {
	width: 320px;
	height: 320px;
	max-width: 331px;
	max-height: 331px;
	margin-bottom: 20px;
	background-size: contain, auto;
	background-repeat: no-repeat;
	background-position: center;
	border: 7px solid #0049B1;
	outline: 3px solid #FF7D1D;
	border-radius: 100%;
	background-color: #17132900;
	transition: all 1s ease;
	background-blend-mode: multiply, darken;
}

.reference_block_small .references_carousel_block_text {
	opacity: 0;
	margin-bottom: -160px;
}

.reference_block_small .references_carousel_block_image {
	width: 213px;
	height: 213px;
	outline: 0;
	border-radius: 10px;
	background-color: #171329ff;
	background-blend-mode: color, hard-light;	
}

.reference_center {
	left: calc(50% - 160px);
}

.reference_out_left {
	left: -330px;;
	opacity: 0;
}

.reference_out_right {
	left: 100%;
	opacity: 0;
}

.reference_left {
	left: calc(50% - 220px - 330px);
}

.reference_right {
	left: calc(50% + 220px);
}

.professional_container {
	flex-wrap: wrap;
	width: 100%;
	max-width: var(--screen-width);
	display: flex;
	justify-content: space-between;
	margin-bottom: 96px;
	margin-top: 56px;
	margin-left: auto;
	margin-right: auto;
	margin-left: auto;
	margin-right: auto;
	align-items: stretch;
	justify-content: center;
}

.professional_block {
	color: #3F4D4D;
	text-align: center;
	font-family: Montserrat, sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: -0.3px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 650px;
	overflow: hidden;
}

.professional_text {
	margin-top: 0;
}

.professional_jigsaw {
	background-image: url('images/jigsaw_puzzle.png');
	background-size: contain;
  background-repeat: no-repeat;
	background-position: center;
	max-width: 100%;
	margin-top: 50px;
	position: relative;
	width: 630px;
	height: 300px;
}

.professional_container hr {
	border-style: none dashed none none;
	border-width: 0.5px;
	border-color: #9ACA3C;
	width: 0px;
	height: 482px;
	margin: 0 10px;
}

@media (max-width: 1340px) {
	.professional_container hr {
		width: 100%;
    height: 0px;
    border-style: dashed none dashed none;
    margin: 40px 100px;
    max-width: 700px;
	}
}

.indicadores_box {
	width: 100%;
	max-width: 535px;
	border-radius: 5px;
	background: #0049b1;
	color: #fff;
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: -0.225px;
	text-transform: uppercase;
	text-align: left;
	box-shadow: 0 4px 5px 0px #0049b18a;
	margin-bottom: 18px;
	margin-top: 30px;
}

.professional_banner {
	background-image: url('images/professional_banner.png');
	background-size: cover;
  background-repeat: no-repeat;
	width: 100vw;
	height: calc(100vw * 0.2);
	max-width: 100%;
}

.materiais {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	max-width: 1100px;
	margin: 20px auto 50px auto;
	justify-items: center;
	justify-content: center;
}

.materiais_box {
	width: 340px;
	min-width: 340px;
	height: 375px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	border: 1px solid #0049b1;
	border-radius: 5px;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	margin: 26px 0;
	max-width: 30vw;
}

.materiais_img {
	width: 100%;
	max-width: 100%;
	height: 190px;
	max-height: 190px;
	background-size: cover;
  background-repeat: no-repeat;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.materiais_txt {
	max-width: max(283px, calc(100vw / 30));
	color: #3F4D4D;
	font-family: Montserrat, sans-serig;
	font-size: 19px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.24px;
	padding-left: 34px;
	padding-bottom: 56px;
}

.mat_quiz {
	background-image: url('images/materiais_quiz.png');
}
.mat_jogos {
	background-image: url('images/materiais_jogos.png');
}
.mat_videos {
	background-image: url('images/materiais_videos.png');
}
.mat_testes {
	background-image: url('images/materiais_testes.png');
}
.mat_roleta {
	background-image: url('images/materiais_roleta.png');
}
.mat_dinamicas {
	background-image: url('images/materiais_dinamicas.png');
}

.ico_mercado {
	background-image: url('images/ico_mercado.png');
}
.ico_territorio {
	background-image: url('images/ico_territorio.png');
}
.ico_crm {
	background-image: url('images/ico_crm.png');
}
.ico_relacionamento {
	background-image: url('images/ico_relacionamento.png');
}
.ico_business_plan {
	background-image: url('images/ico_business_plan.png');
}
.ico_forca_vendas {
	background-image: url('images/ico_forca_vendas.png');
}
.ico_distribuicao {
	background-image: url('images/ico_distribuicao.png');
}
.ico_marketing {
	background-image: url('images/ico_marketing.png');
}
.ico_pesquisa_satisfacao {
	background-image: url('images/ico_pesquisa_satisfacao.png');
}
.ico_ideias {
	background-image: url('images/ico_ideias.png');
}

.gestao_estrategia {
	display: flex;
	max-width: var(--screen-width);
	margin: 0 auto 50px auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.gestao_estrategia_box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 53px 3px 0 3px;
	max-width: 255px;
}

.gestao_estrategia_img
{
	width: 92px;
	height: 92px;
	max-width: 92px;
	max-height: 92px;
	background-size: cover;
  background-repeat: no-repeat;
	margin-bottom: 22px;
}

.gestao_estrategia_txt {
	max-width: 100%;
	height: 266px;
	font-family: Montserrat, sans-serig;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.24px;
	padding-left: 26px;
	width: 214px;
	padding-right: 16px;
	color: #FFF;
	background: #0049b1;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
}

.gestao_estrategia_txt h1 {
	margin: 2em 0 0 0;
	padding: 0;
	color: #9ACA3C;
	font-size: 16px;
	font-weight: 700;
	line-height: 19px;
	letter-spacing: -0.225px;
	text-transform: uppercase;
	height: 3.8em;
}

.full_box {
	font-family: Montserrat, sans-serig;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: -0.3px;
	padding: 48px 150px;
	max-width: 1167px;
	color: #FFF;
	background: #0049b1;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	margin: 0 auto 10px auto;
	text-align: center;
}

@media (max-width: 900px) {
	.full_box {
		padding: 48px 48px;
	}
}

.full_box b {
	font-weight: 700;
}

.split_image {
	min-height: 462px;
	width: 100%;
	background: #0049B1;
	position: relative;
}

.split_image_text {
	padding-right: 40px;
}

.split_container {
	max-width: var(--screen-width);
	margin: 0 auto;
	display: flex;
}

.split_text {
	color: #fff;
	margin-top: 50px;
	line-height: 23px;
}

.section_title {
	color: #fff;
	margin: 43px 0 0 0;
	text-align: left;
}

.split_image_left {
	margin: 0;
	padding-top: 1em;
	padding-left: 30px;
	width: 550px;
}

.split_image_img {
	position: absolute;
	background-image: url('images/sobre_nos.jpeg');
	background-size: cover;
  background-repeat: no-repeat;
	top: 0;
	background-position: center center;
	right: 0;	
	height: 100%;
	width: 50%;
	max-width: calc(100vw - 630px);
}

.split_image_right {
}

.proposito {
	width: 100%;
	background: #00ab54;
	padding-bottom: 26px;
}

.proposito_text {
	color: #fff;
	text-align: center;
	margin-top: 0;
	margin-top: 21px;
	margin-left: 100px;
	margin-right: 100px;
}


@media (max-width: 950px) {
	.proposito_text {
		margin-left: 20px;
		margin-right: 20px;
	}
}

.proposito_container {
	max-width: var(--screen-width);
	margin: 0 auto;
	padding-top: 38px;
}

.facing_duo {
	color: #3F4D4D;
	font-family: Montserrat, sans-serif;
	font-size: 19px;
	font-weight: 400;
	line-height: 25px;
	letter-spacing: -0.3px;
	position: relative;
	display: flex;
	max-width: var(--screen-width);
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: center;
}

.duo_left {
	text-align: right;
	width: 44%;
	max-width: 48%;
	min-width: 445px;
	margin-right: 30px;
}

.duo_right {
	text-align: left;
	width: 44%;
	max-width: 48%;
	min-width: 445px;
	margin-left: 30px;
}

.duo_picture {
	width: 259px;
	height: 259px;
	min-width: 180px;
	min-height: 180px;
	background-size: cover;
  background-repeat: no-repeat;
	display: inline-block;
	margin-top: 45px;
	margin-bottom: 25px;
}

.guido {
	background-image: url('images/Guido_Visintin_Junior.png');
}

.fabiana {
	background-image: url('images/Fabiana_Muniz_Visintin.png');
}

.facing_duo h1 {
	font-style: normal;
	color: #3F4D4D;
	font-size: 25px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: -0.375px;
}

.facing_duo a {
	color: #0049B1;
	font-size: 20px;
	font-weight: 700;
	line-height: 25px;
	letter-spacing: -0.3px;
	text-decoration-line: underline;
	word-break: break-all;
}

.facing_duo hr {
	border-style: none dashed none none;
	border-width: 0.5px;
	border-color: #9ACA3C;
	width: 0.5px;
	height: 427px;
	margin: 30px 0;
	position: relative;
	top: 330px;
}

@media (max-width: 926px) {
.facing_duo hr {
display: none;
}
}

.home_intro {
	max-width: 848px;
}

.home_ilus_text {
	color: #FFF;
	font-family: Montserrat, sans-serig;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.24px;
}

.home_ilus_text h1 {
	color: #FFF;
	font-family: Roboto, sans-serif;
	font-size: 37px;
	font-weight: 700;
	line-height: 35px;
	letter-spacing: -0.555px;
}

.illustrations {
	position: relative;
	color: #FFF;
	font-family: Montserrat, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: -0.24px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
}

.home_left {
	height: 343px;
	position: relative;
	display: inline-block;
	width: 100%;
	margin-right: 15px;
	min-width: 700px;
}

.home_right {
	position: relative;
	height: 343px;
	display: inline-block;
	margin-left: 15px;
	margin-top: 20px;
	width: 100%;
	min-width: 700px;
}

@media (max-width: 680px) {
	.illustrations {
	}
	.home_left {
		left: -38px;
	}
	.home_left_strip {
		width: 100% !important;
		left: -100%;
	}
	.home_right {
		left: calc(-470px + 50%);
	}
	.home_right_strip {
		width: 100% !important;
		right: -100%;
		left: unset !important;
	}
}

@media (min-width: 900px) {
	.illustrations {
	}
	.home_left {
		margin-right: 20%;
	}
	.home_right {
		margin-left: 20%;
	}
}

@media (min-width: 1323px) {
	.illustrations {
		flex-wrap: unset;
	}
	.home_left {
		margin: 0 10px 0 0;
	}
	.home_right {
		margin: 0 0 0 10px;
	}
}

.home_left_strip {
	background: #00AB54;
	z-index: -10;
	height: 312px;
	width: calc(100% - 700px);
	position: absolute;
	bottom: 0;
	right: 700px;
}

.home_right_strip {
	background: #0049B1;
	z-index: -10;
	height: 312px;
	width: calc(100% - 700px);
	position: absolute;
	bottom: 0;
	left: 700px;
}

.home_left_ilustration {
	height: 100%;
	background-image: url('images/ilus_green.png');
	background-size: unset;
  background-repeat: no-repeat;
	background-position: center;
	background-position-x: right;
}

.home_right_ilustration {
	height: 100%;
	background-image: url('images/ilus_business.png');
	background-size: unset;
  background-repeat: no-repeat;
	background-position: center;
	background-position-x: left;
}

.illustrations h1 {
	font-family: Roboto, sans-serif;
	font-size: 37px;
	font-style: normal;
	font-weight: 700;
	line-height: 43px;
	letter-spacing: -0.555px;
	margin: 0;
	margin-bottom: 25px;
}

.home_left_text, .home_right_text {
	position: absolute;
	top: 83px;
	bottom: 29px;
	width: 315px;
}

.home_left_text {
	text-align: left;
	right: 300px;
}

.home_right_text {
	text-align: right;
	left: 300px;
}

.green_button {
	width: 188px;
	border-radius: 47px;
	background: #9ACA3C;
	color: #FFF;
	text-align: center;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 14px 8px;
	cursor: pointer;
	margin: 0 auto;
	position: relative;
	bottom: 30px;
}

.cv_button {
	margin: 20px 0;
	display: inline-block;
}

.dark_green_button {
	width: 358px;
	border-radius: 47px;
	background: #0049B1;
	color: #FFF;
	text-align: center;
	font-family: Roboto, sans-serif;
	font-size: 16px;
	font-weight: 500;
	text-transform: uppercase;
	padding: 14px 8px;
	cursor: pointer;
	margin: 0 auto;
}

.home_desenvolvimento_profissional {
	background: #d9d9d9;
	width: 100%;
	margin: 0 auto;
}

.no_bg {
	background: none !important;
}

.home_board {
	background: #d9d9d9;
	padding-bottom: 50px;
}

.home_logos {
	margin-bottom: 90px;
}

.home_title {
	padding-top: 80px;
	padding-bottom: 20px;
}

.home_carousel_window {
	position: relative;
	width: 1408px;
	height: 400px;
	margin: 0 auto;
	overflow: hidden;
	margin-top: 30px;
	max-width: 100%;
}

.home_card {
	top: 0;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	width: var(--home-card-w);;
	max-width: var(--home-card-w);
	opacity: 0;
	left: -260px;
	transition: all 1s ease;
	min-width: 260px;
}

.position_stage {
	opacity: 1;
}

.position_out_left {
	left: calc(50% - (3 * var(--home-card-w)));
	opacity: 0;
}
.position_one {
	left: calc(50% - (2 * var(--home-card-w)));
}
.position_two {
	left: calc(50% - (1 * var(--home-card-w)));
}
.position_three {
	left: 50%;
}
.position_four {
	left: calc(50% + (1 * var(--home-card-w)));
}
.position_out_right {
	left: calc(50% + (3 * var(--home-card-w)));
	opacity: 0;
}

@media (max-width: 1160px) {
	.position_out_left {
		left: calc(50% - (3 * var(--home-card-w)));
		opacity: 0;
	}
	.position_one {
		left: calc(50% - (1.6 * var(--home-card-w)));
	}
	.position_two {
		left: calc(50% - (0.5 * var(--home-card-w)));
	}
	.position_three {
		left: calc(50% + (0.6 * var(--home-card-w)));
	}
	.position_four {
		left: calc(50% + (4 * var(--home-card-w)));
		opacity: 0;
	}
	.position_out_right {
		left: calc(50% + (3 * var(--home-card-w)));
		opacity: 0;
	}
}

@media (max-width: 980px) {
	.position_out_left {
		left: calc(50% - (3 * var(--home-card-w)));
		opacity: 0;
	}
	.position_one {
		left: calc(50% - (1.3 * var(--home-card-w)));
	}
	.position_two {
		left: calc(50% + (0.3 * var(--home-card-w)));
	}
	.position_three {
		left: calc(50% + (3 * var(--home-card-w)));
		opacity: 0;
	}
	.position_four {
		left: calc(50% + (3 * var(--home-card-w)));
		opacity: 0;
	}
	.position_out_right {
		left: calc(50% + (3 * var(--home-card-w)));
		opacity: 0;
	}
}

@media (max-width: 700px) {
	.position_out_left {
		left: calc(50% - (3 * var(--home-card-w)));
		opacity: 0;
	}
	.position_one {
		left: calc(50% - (1.1 * var(--home-card-w)));
	}
	.position_two {
		left: calc(50% + (3 * var(--home-card-w)));
		opacity: 0;
	}
	.position_three {
		left: calc(50% + (3 * var(--home-card-w)));
		opacity: 0;
	}
	.position_four {
		left: calc(50% + (3 * var(--home-card-w)));
		opacity: 0;
	}
	.position_out_right {
		left: calc(50% + (3 * var(--home-card-w)));
		opacity: 0;
	}
}

.home_arrow {
	background: #0049b1;
  background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	margin: 0;
	top: 200px;
	width: 46px;
	height: 46px;
	border: 1px solid #09AE4C;
	cursor: pointer;
	z-index: 10;
}

.home_arrow_left {
	background-image: url('images/arr_left_white.svg');
	left: 0;
}

.home_arrow_right {
	background-image: url('images/arr_right_white.svg');
	right: 0;
}

.whatsapp {
	position: fixed;
	right: 0;
	top: 58vh;
	background-image: url('images/whatsapp.png');
	background-size: contain;
  background-repeat: no-repeat;
	background-position: center;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

@media (max-width: 1940px) {
  .whatsapp {
		right: 0;
  }
}

@media (min-width: 1940px) {
  .whatsapp {
		right: unset;
		left: 1884px;
  }
}

.hidden_unimplemented {
	display: none;
}



.adaptive_background_image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
		width: 100%;
		height: 100%;
}

.carousel_container_logo {
	height: 300px;
	width: 100%;
	display: flex;
	justify-content: center;
	position: relative;
	margin-bottom: 65px;
}

.carousel_counter_logo {
	position: absolute;
	bottom: 0;
	display: inline-flex;
	margin-bottom: 50px;
}

.carousel_counter_logo div {
	width: 19px;
	height: 19px;
	border: 1px solid #888;
	border-radius: 32px;
	background: none;	
	margin: 8px;
}

.carousel_counter_logo div:hover {
	cursor: pointer;
}

.carousel_counter_logo_active {
	background: #9ACA3C !important;
	border-color: #9ACA3C !important;
}

.carousel_base_logo {
	width: 300px;
	height: 170px;
	max-height: 170px;
	max-width: 300px;
	transition: all 3s ease;
	mix-blend-mode: darken;
	position: absolute;
}

.carousel_position_logo_L {
	margin-right: 50%;
	opacity: 0;
}

.carousel_position_logo_R {
	margin-left: 50%;
	opacity: 0;
}

.carousel_position_logo_M {
	margin-left: 100%;
	margin-right: 100%;
	opacity: 1;
}
